h1 {
    text-align: center;
    color: rgb(255, 238, 0);
    font-family:"Bungee Shade";
    font-size: 60px;
}
h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:"Bungee Shade";
    font-size: 30px;
}
p {
    text-shadow: 6px 5px 4px rgb(255, 0, 0);
    font-size: 20px;
    text-align: left;
    color:rgb(255, 238, 0) ;
  }
  ol {
    list-style-type:upper-alpha;
    font-size: 26px;
    font-weight: bold;
    color: rgb(84, 158, 228);
  }
.MYHEADING{
  margin-left: 30px;
}
.menu{
     display: flex;
     justify-content: space-between;
     /* background-color: black; */
     background-image: url(images/bg.jpg);
     padding: 15px;
     font-size: 20px;
     font-family: sans-serif;
     font-weight: 400;
     color: rgb(255, 255, 255);
}
body{
     margin: 0px;
     /* background-color:#f7f2f2; */
     background-image: url("https://miro.medium.com/max/4800/1*UJmuNSJQ-vwETj1nE7pxJQ.png");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
     
}
a:link{
     color:white;
}
a:visited{
    color:white;
}
.bodyimg{
     position: relative;
 }
 .bodyimg p{
     color:rgb(247, 242, 242);
     font-size: 55px;
     font-family: fantasy;
     position: absolute;
     top:10%;
     left:50%;
     transform: translate(-50%,-50%);
 }
 .bodyimg h3{
     color:#f7f2f2;
     font-family: fantasy;
     font-size: 30px;
     width: 1600px;
     position: absolute;
     top:40%;
     left:45%;
     transform: translate(-40%, -40%);
 }
 .grid{
     display: flex;
     flex-wrap: wrap;
     margin: 40px;
     font-family: sans-serif;
     
 }
 .grid img{
     border: 2px solid black;
     border-radius: 50px;
 }
 .origami {
     
     border-radius: 20px;
     background-color: rgb(108, 20, 167);
     padding: 30px;
     margin: 25px;
     width:310px;
     font-family: fantasy;
     
 }
 .origami:hover{
 
     transform: scale(1.2);
 }
 